In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Define the ticker symbol
ticker = 'PTTEP.BK'

# Fetch the stock data
stock = yf.Ticker(ticker)

# Fetch historical market data
hist = stock.history(period="5y")

# Fetch financial data
financials = stock.financials.T
balance_sheet = stock.balance_sheet.T

In [19]:
hist['Close']

Date
2019-08-01 00:00:00+07:00    103.561920
2019-08-02 00:00:00+07:00    100.876976
2019-08-05 00:00:00+07:00    100.493408
2019-08-06 00:00:00+07:00    100.109848
2019-08-07 00:00:00+07:00    100.305000
                                ...
2024-07-25 00:00:00+07:00    144.000000
2024-07-26 00:00:00+07:00    147.000000
2024-07-30 00:00:00+07:00    147.000000
2024-07-31 00:00:00+07:00    147.000000
2024-08-01 00:00:00+07:00    151.000000
Name: Close, Length: 1212, dtype: float64

In [23]:
financials.columns

Index(['Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA', 'Total Unusual Items',
       'Total Unusual Items Excluding Goodwill',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Diluted Average Shares', 'Basic Average Shares',
       'Diluted EPS', 'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Otherunder Preferred Stock Dividend',
       'Net Income', 'Minority Interests',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Income Expense', 'Other Non Operating Income Expenses',
       'Special Income Charges', 'Gain On Sale Of Business',
       'Other Special Charges', 'Write Off', 'Impairment Of Capital Assets',
       'Restructuring And Mergern Acquisition',
       'Earnings From Equity Interest', 'Gain On Sale Of Security',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Other Operating Expenses',
       'Selling General And Administration',
       'General And Administrative Expense', 'Other Gand A', 'Gross Profit',
       'Cost Of Revenue', 'Total Revenue', 'Operating Revenue'],
      dtype='object')

In [9]:
balance_sheet

,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,Common Stock Equity,...,Accrued Interest Receivable,Loans Receivable,Accounts Receivable,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents,Cash Equivalents,Cash Financial
2023-12-31,3969985400.0,3969985400.0,NaN,125039004000.0,448418400000.0,594646527000.0,146210020000.0,448418400000.0,29718978000.0,499326501000.0,...,NaN,258203000.0,38462000000.0,NaN,38462000000.0,144386506000.0,6844650000.0,137541856000.0,68399000000.0,69143000000.0
2022-12-31,3969985400.0,3969985400.0,NaN,132478264000.0,409010054000.0,564215301000.0,82226470000.0,409010054000.0,35383569000.0,467120606000.0,...,NaN,45516000.0,34439000000.0,0.0,34439000000.0,122346946000.0,23056000.0,122323890000.0,50821000000.0,71503000000.0
2021-12-31,3969985400.0,3969985400.0,32130231000.0,136811000000.0,352637030000.0,533007789000.0,35081555000.0,352637030000.0,19152959000.0,415349748000.0,...,NaN,0.0,26613000000.0,-33000000.0,26646000000.0,85527810000.0,0.0,85527810000.0,26847000000.0,58681000000.0
2020-12-31,3969985400.0,3969985400.0,NaN,118107497000.0,293307444000.0,457289033000.0,96458824000.0,293307444000.0,15229344000.0,354410880000.0,...,NaN,NaN,17186000000.0,-33000000.0,17219000000.0,114261079000.0,3003707000.0,111257372000.0,74532000000.0,36725000000.0
2019-12-31,NaN,NaN,14326469864.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,218112866.0,NaN,NaN,-33130000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Define columns of interest
columns = {
    'TOTAL_CURRENT_ASSETS': 'Total Current Assets',
    'PPE_TOTAL_NET': 'Net PPE',
    'CAPITAL_OPERATING_LEASE_OBLIGATIONS': 'Capital Leases',
    'LONG_TERM_INVESTMENTS': 'Long Term Investments',
    'TOTAL_CURRENT_LIABILITIES': 'Total Current Liabilities',
    'CASH_N_EQUIVALENTS': 'Cash And Cash Equivalents',
    'TOTAL_SHARES_OUTSTANDING': 'Shares Outstanding',
    'LONG_TERM_DEBT': 'Long Term Debt',
    'PREFERRED_STOCK_CARRYING_VALUE': 'Preferred Stock'
}

# # Extract financial data
# data = {}
# for key, value in columns.items():
#     data[key] = balance_sheet[value] if value in balance_sheet.columns else financials[value]

# # Create a DataFrame
# df = pd.DataFrame(data)

In [22]:
[sel for sel in financials.columns if 'Total' in sel]

['Total Unusual Items',
 'Total Unusual Items Excluding Goodwill',
 'Total Expenses',
 'Total Revenue']

In [25]:
df = financials

In [28]:
# Calculate Invested Capital
df['invested_capital'] = (df['Total Revenue'] + df['Gross Profit'] + df['Operating Revenue'] -
                          df['Total Expenses'])

In [29]:
df['invested_capital']

2023-12-31    645221917000.0
2022-12-31    717409659000.0
2021-12-31    436377256000.0
2020-12-31    287256872000.0
2019-12-31               NaN
Name: invested_capital, dtype: object

In [30]:
df['Diluted Average Shares'] * df['Net Income']

2023-12-31    304524376240000008192.0
2022-12-31    281478299950000013312.0
2021-12-31    154288472150000009216.0
2020-12-31     89976123669999992832.0
2019-12-31                        NaN
dtype: object